/* PHASE 1: Header */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #eee;
}

.header{
  background-color: #f00;
  color: #fff;
  border-bottom: 1px solid #ccc;
  position: relative;
  z-index: 1;
  min-width: 900px;
}

.header-nav{
  width: 900px;
  margin: auto;
}

.header a {
  border-left: 1px solid #ccc;
  display: block;
  padding: 10px 20px;
  position: relative;
}

.header a:hover{
  background-color: #000;
}

.header-logo{
  float: left;
  border-right: 1px solid #ccc;
  font-weight: 700;
}

.header-list {
  float: right;
}

.header-list > li{
  float:left
}

.header-list > li:last-child{
  border-right: 1px solid #ccc;
}

#notification {
  position: relative;
}