/* PHASE 2: Notifications */
.badge {
  background-color: black;
  border-radius: 100%;
  padding: 1px 6px;
  font-size: 14px;
}

.header a:hover .badge {
  background-color: red;
}

.header li:hover .notification-dropdown{
  display: block;
}

.notification-dropdown {
  display: none;
  position: absolute;
  top: 39;
  left: 0;
  color: black;
  font-size: 12px;
  white-space: nowrap;
}

.notification-dropdown a{
  /* width: 240px; */
  border: 1px solid #ccc;
  border-top: 0;
  background-color: #fff;
}

.notification-dropdown a:hover{
  background-color: #eee;
}

.notification-dropdown > li:last-child a{
  border-radius: 0 0 5px 5px;
}

.notification-dropdown > li:first-child a{
  border-top: 1px solid #ccc;
}