/* PHASE 5: Cats */
.content-header {
  width: 898px;
  position: relative;
  z-index: 1;
  background: url("../../shared/img/cats.jpg");
  min-height: 200px;
  background-size: cover;
  border-bottom: 1px solid #ccc;
  border-top: 0;
}

.content-header h1{
  position: absolute;
  bottom: 20px;
  left: 240px;
  font-size: 36px;
  font-weight: 300;
  color: #fff;
  text-shadow: #000 0 0 10px;
  line-height: 1;
}

.content-header button{
  position: absolute;
  bottom: 20px;
  padding: 10px 20px;
  right: 20px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #000;
  font-weight: 700;
}

.content-header button:hover {
  background-color: #eee;
}