/* PHASE 6: Sidebar */
.profile-picture img {
  position: relative;
  border: 1px solid #000;
  border-radius: 5px;
}

.profile-picture{
  padding: 0;
  z-index: 2;
  margin-top: -120px;
  position: relative;
  overflow: hidden;
}

.profile-info h2{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.profile-nav {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.profile-nav ul{
  border-top: 1px solid #ccc;
}

.profile-nav a{
  font-weight: 700;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  display: block;
}

.profile-nav a:hover {
  background-color: #eee;
}